<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán</title>
</head>
<body>
    <form action="/payment/create-payment-link" method="post">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNnCes1KcMc5EtLrWKavfBY-PJRze50htL4Q&s" alt="Payment Image"/>
        <button type="submit">Thanh Toán</button>
    </form>
</body>
</html>
